<div class="container-fluid rounded-sm border border-light shadow bg-white">
    <div class="px-5 py-5">
        <div class="container">
            <div class="col justify-content-md-center">
                <h1 class="text-center">Liên hệ với chúng tôi</h1>
                <div>Ứng dụng bỏ phiếu sử dụng công nghệ blockchain là một sản phẩm trong môn học các chủ đề mới trong
                    phát triển phần mềm.</div>
                <br />
                <div>Thông tin các thành viên trong nhóm:</div>

                <br />
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Họ và tên</th>
                            <th scope="col">MSSV</th>
                            <th scope="col">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Nguyễn Văn Sang</td>
                            <td>1612522</td>
                            <td>1612522@student.fit.hcmus.edu.vn</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Đặng Quốc Nhật</td>
                            <td>1612461</td>
                            <td>1612461@student.fit.hcmus.edu.vn</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Đặng Vĩnh Phát</td>
                            <td>1612486</td>
                            <td>1612486@student.fit.hcmus.edu.vn</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {

    })
</script>