<div class="container-fluid rounded-sm border border-light shadow bg-white">
    <div class="px-5 py-5">
        <div class="container">
            <div class="col justify-content-md-center">
                <h1>Liên hệ với chúng tôi</h1>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {

    })
</script>