<div class="jumbotron">
    <h1 class="display-4">Chào mừng đến Votify</h1>
    <p class="lead">Ứng dụng bỏ phiếu sử dụng công nghệ blockchain</p>
    <hr class="my-4">
    <p></p>
    <div class="row">
        <div class="card col-sm" style="width: 18rem;">
            <img class="card-img-top" src="https://bit.ly/3qM2BzB" alt="Đăng Ký">
            <div class="card-body">
                <h5 class="card-title">Hướng dẫn đăng ký</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a class="btn btn-primary" href="/register" role="button">Đăng ký bỏ phiếu</a>
            </div>
        </div>
        <div class="card col-sm" style="width: 18rem;">
            <img class="card-img-top" src="https://bit.ly/3qM2BzB" alt="Đăng Ký">
            <div class="card-body">
                <h5 class="card-title">Hướng dẫn đăng ký</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a class="btn btn-outline-primary" href="/check-register" role="button">Kiểm tra đăng ký</a>
            </div>
        </div>
        <div class="card col-sm" style="width: 18rem;">
            <img class="card-img-top" src="https://bit.ly/3qM2BzB" alt="Đăng Ký">
            <div class="card-body">
                <h5 class="card-title">Hướng dẫn đăng ký</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a class="btn btn-success" href="/votelist" role="button">Danh sách các cuộc bầu cử</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card col-sm" style="width: 18rem;">
            <img class="card-img-top" src="https://bit.ly/3qM2BzB" alt="Đăng Ký">
            <div class="card-body">
                <h5 class="card-title">Hướng dẫn đăng ký</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a class="btn btn-success" href="/address" role="button">Tìm kiếm ID</a>
            </div>
        </div>
        <div class="card col-sm" style="width: 18rem;">
            <img class="card-img-top" src="https://bit.ly/3qM2BzB" alt="Đăng Ký">
            <div class="card-body">
                <h5 class="card-title">Hướng dẫn đăng ký</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a class="btn btn-outline-success" href="/find_history" role="button">Tìm kiếm Lịch Sử</a>
            </div>
        </div>
        <div class="card col-sm" style="width: 18rem;">
            <img class="card-img-top" src="https://bit.ly/3qM2BzB" alt="Đăng Ký">
            <div class="card-body">
                <h5 class="card-title">Hướng dẫn đăng ký</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a class="btn btn-outline-success" href="/about-us" role="button">About Us</a>
            </div>
        </div>
    </div>

</div>