<div class="jumbotron">
    <h1 class="display-4 text-center" style="color:blue; ">Chào mừng đến Votify</h1>
    <p class="lead text-center">Ứng dụng bỏ phiếu sử dụng công nghệ blockchain</p>
    <hr class="my-4">
    <p></p>
    <div class="row">
        <div class="card col-sm" style="width: 18rem; margin: 10px;">
            <img class="card-img-top" src="https://bit.ly/3qM2BzB" alt="Đăng ký bỏ phiếu " style="height: 16rem;">
            <div class="card-body">
                <h5 class="card-title">Hướng dẫn đăng ký</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a class="btn btn-outline-primary" href="/register" role="button">Đăng ký bỏ phiếu</a>
            </div>
        </div>
        <div class="card col-sm" style="width: 18rem; margin: 10px;">
            <img class="card-img-top" src="https://bit.ly/3jDbSsb" alt="Kiểm tra đăng ký" style="height: 16rem;">
            <div class="card-body">
                <h5 class="card-title">Kiểm tra đăng ký</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a class="btn btn-outline-secondary" href="/check-register" role="button">Kiểm tra đăng ký</a>
            </div>
        </div>
        <div class="card col-sm" style="width: 18rem; margin: 10px;">
            <img class="card-img-top" src="https://bit.ly/3xahGgU" alt="Danh sách bầu cử" style="height: 16rem;">
            <div class="card-body">
                <h5 class="card-title">Danh sách bầu cử</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a class="btn btn-outline-success" href="/votelist" role="button">Danh sách bầu cử</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card col-sm" style="width: 18rem; margin: 10px;">
            <img class="card-img-top" src="https://bit.ly/3xcT8DZ" alt="Tìm kiếm ID" style="height: 16rem;">
            <div class="card-body">
                <h5 class="card-title">Tìm kiếm ID</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a class="btn btn-outline-danger" href="/address" role="button">Tìm kiếm ID</a>
            </div>
        </div>
        <div class="card col-sm" style="width: 18rem; margin: 10px;">
            <img class="card-img-top" src="https://bit.ly/3qDrwp5" alt="Tìm kiếm Lịch Sử" style="height: 16rem;">
            <div class="card-body">
                <h5 class="card-title">Tìm kiếm Lịch Sử</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a class="btn btn-outline-dark" href="/find_history" role="button">Tìm kiếm Lịch Sử</a>
            </div>
        </div>
        <div class="card col-sm" style="width: 18rem; margin: 10px;">
            <img class="card-img-top" src="https://bit.ly/3juR71T" alt="About Us" style="height: 16rem;">
            <div class="card-body">
                <h5 class="card-title">About Us</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a class="btn btn-outline-warning" href="/about-us" role="button">About Us</a>
            </div>
        </div>
    </div>

</div>